* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.backgroundWrapper {
  background-color: #000;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.backgroundWrapper .bg-circle-decoration {
  border-radius: 100%;
  background-color: #52A499;
  position: absolute;
}
.backgroundWrapper .circle-blue {
  background: linear-gradient(140deg, #26D0CE 0%, #1A2980 100%);
  width: 800px;
  height: 800px;
  z-index: -1;
  top: -200px;
  left: -100px;
}
.backgroundWrapper .circle-orange {
  background: linear-gradient(90deg, #FF4E50 0%, #F9D423 100%);
  width: 450px;
  height: 450px;
  bottom: -150px;
  right: 200px;
  z-index: -1;
}

.mainCardWrapper {
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding: 20px;
  max-width: 350px;
  margin: 15vh auto 0;
  border-radius: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  height: 50px;
  transition: height 0.6s ease;
  backdrop-filter: blur(20px);
}

.mainCardWrapper.open {
  height: 480px;
}

.searchBar #citySearch {
  display: flex;
  gap: 10px;
  justify-content: center;
  position: relative;
}
.searchBar #citySearch .search_location_img {
  position: absolute;
  left: 10px;
  top: 13px;
  padding-right: 10px;
}
.searchBar #citySearch #cityInput {
  width: 90%;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  padding: 13px 27px 13px 50px;
  color: #fff !important;
  font-size: 20px;
  font-weight: 400;
}
.searchBar #citySearch #cityInput::-moz-placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}
.searchBar #citySearch #cityInput::placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}
.searchBar #citySearch #cityInput:focus {
  outline: none;
}
.searchBar #citySearch #submitBtn {
  position: absolute;
  right: 15px;
  top: 12px;
  background-image: url(pics/search.svg);
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.todayForecastWrapper {
  opacity: 0;
  display: flex;
  padding: 24px 0;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  flex-direction: row !important;
  color: #fff;
  gap: 20px;
}
.todayForecastWrapper .iconAndTemperature .icon {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin-right: 15px;
}
.todayForecastWrapper .iconAndTemperature .temperatureDetails #todaysTemperature {
  font-size: 30px;
  margin-bottom: 5px;
}
.todayForecastWrapper .iconAndTemperature .temperatureDetails #changeTempUnit {
  border-radius: 10px;
  padding: 6px 8px;
  font-size: 14px;
  margin-right: 19px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 600;
}
.todayForecastWrapper .locationDetails {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  flex-direction: column;
}
.todayForecastWrapper .locationDetails .cityDetails p {
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}
.todayForecastWrapper .locationDetails .dateAndCondition {
  font-size: 12px;
}
.todayForecastWrapper .locationDetails .dateAndCondition #conditionText {
  font-weight: 400;
}
.todayForecastWrapper .locationDetails .textData {
  display: flex;
  margin-top: 20px;
}
.todayForecastWrapper .locationDetails .textData .weatherDetails {
  display: flex;
  flex-direction: column;
}
.todayForecastWrapper .locationDetails .textData .weatherDetails p {
  font-size: 14px;
  font-weight: 300;
}
.todayForecastWrapper .otherDetails {
  display: flex;
}

.futureForecastWrapper {
  opacity: 0;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  gap: 20px;
  color: #fff;
}
.futureForecastWrapper .dayForecastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.futureForecastWrapper .dayForecastWrapper .icon {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 10px 0;
}
.futureForecastWrapper .dayForecastWrapper .dayTemp, .futureForecastWrapper .dayForecastWrapper .nightTemp {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .todayForecastWrapper .icon {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  .todayForecastWrapper .textData .weatherDetails {
    margin-right: 30px;
  }
  .todayForecastWrapper .textData .locationDetails .cityDetails p {
    font-size: 18px;
  }
  .circle-blue {
    width: 600px !important;
    height: 600px !important;
  }
  .circle-orange {
    width: 400px !important;
    height: 400px !important;
    bottom: -150px;
    right: 50px !important;
  }
}
@media (max-width: 800px) {
  .mainCardWrapper.open {
    height: 440px;
  }
  .todayForecastWrapper .textData {
    display: block;
  }
  .futureForecastWrapper .dayForecastWrapper .icon {
    height: 60px;
    width: 60px;
  }
  .circle-blue {
    width: 500px !important;
    height: 500px !important;
    top: -200px;
    left: -100px;
  }
  .circle-orange {
    width: 300px !important;
    height: 300px !important;
    bottom: -150px;
    right: -20px !important;
  }
}
@media (max-width: 550px) {
  .mainCardWrapper.open {
    height: 400px;
  }
  #cityInput::-moz-placeholder {
    font-size: 14px;
  }
  #cityInput::placeholder {
    font-size: 14px;
  }
  .circle-blue {
    width: 450px !important;
    height: 450px !important;
    top: -200px;
    left: -100px;
  }
  .mainCardWrapper {
    max-width: 260px;
    padding: 20px 10px;
  }
  .mainCardWrapper .todayForecastWrapper {
    gap: 0px;
  }
  .mainCardWrapper .todayForecastWrapper .iconAndTemperature .icon {
    width: 80px;
    height: 80px;
  }
  .mainCardWrapper .todayForecastWrapper .iconAndTemperature .temperatureDetails #todaysTemperature {
    font-size: 22px;
  }
  .mainCardWrapper .todayForecastWrapper .iconAndTemperature .temperatureDetails #changeTempUnit {
    font-size: 12px;
  }
  .mainCardWrapper .todayForecastWrapper .locationDetails {
    font-size: 12px;
  }
  .mainCardWrapper .todayForecastWrapper .locationDetails .cityDetails p {
    font-size: 12px !important;
  }
  .mainCardWrapper .todayForecastWrapper .weatherDetails p {
    font-size: 12px !important;
  }
  .mainCardWrapper .futureForecastWrapper {
    gap: 15px;
  }
  .mainCardWrapper .futureForecastWrapper .dayForecastWrapper .date {
    font-size: 12px;
  }
  .mainCardWrapper .futureForecastWrapper .dayForecastWrapper img {
    width: 20px;
    height: 20px;
  }
  .mainCardWrapper .futureForecastWrapper .dayForecastWrapper p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */